# Dependency directories
node_modules/
cargo/
npm/
yarn/
# Output of 'npm pack'
*.tgz
# dotenv environment variables file
env
# VSCode workspace settings file
vscode/settings.json
vscode/launch.json
vscode/tasks.json
# Lock files
package-lock.json
yarn.lock
bun.lockb
# Rust compiled folders
target/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Runtime data
pids
*.pid
*.seed
*.pid.lock
# Miscellaneous
/.vs
DS_Store
Thumbs.db
*.sublime*
idea
debug.log
TODO.md
# Examples and bench directories
/examples/**/src-tauri/gen/
/bench/**/src-tauri/gen/
